<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic-Tracking System</title>
    <link rel="stylesheet" href="/car.css">
    <script defer src="/car.js"></script>
</head>
<body>
    <h1>Traffic_Tracking_System</h1>
        <div class="message">
            <marquee behavior="translation" direction="x">Aashis car tracking system</marquee>
        </div>
        <span class="name">Aashis Rijal</span>
    <div class="container">
        <div class="car">
            <div class="car_body"></div>
            <div class="wheel1"></div>
            <div class="wheel2"></div>
        </div>
        <div class="road"></div>
        <div class="count">
            <h2 class="Count">01</h2>
        </div>
        <div class="light">
            <div class="green"></div>
            <div class="red"></div>
        </div>
        <div class="zebra-cross"></div>

        <div class="button">
            <button  class="redbtn">Red</button>
            <button  class="greenbtn">Green</button>
        </div>
    </div>
</body>
</html>
